.item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f7f5ef;
}
.input {
    display: block;
    width: 100%;
    font: inherit;
    background-color: #f7f5ef;
    border: none;
}

.input:active{
    border: none;
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    width: 15%;
    padding: 0 5px;
    font-weight: bold;
}

.control button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.control button:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.control input{
    cursor: pointer;
    border: none;
}