.item {
    display: block;
    margin: 1rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f7f5ef;
    min-height: 65px;
    border-radius: 10px;
}

.item.checked{
    background-color: rgba(218, 78, 96, 0.2);
}
.input {
    display: block;
    width: 100%;
    font: inherit;
    background-color: #f7f5ef;
    border: none;
}

.control .box {
    display: flex;
    justify-content: space-between;
    width: 15%;
    text-align: center;
}

.input:active{
    border: none;
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    font-weight: bold;
    padding-bottom: 20px;
}

.control button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.control button:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.control input{
    cursor: pointer;
    border: none;
}

.date {
    display: flex;
    align-items: center;
    text-align: center;
}
.date p{
    display: block;
    margin: 0;
}